html,body{
height: 100%;
margin: 0;
padding: 0;
background-color: tomato;
font-family: Arial, Helvetica, sans-serif;

}


#bdy{
  height: 100%;
    margin: 5px;
}



.nav{


overflow: hidden;
background-color: #333;
background-image: url("./images/header.jpg");
border-radius: 10px;

text-align: center;
list-style-type: none;
box-shadow: 5px 1px 5px 1px gray;
box-shadow: 3px 1px 1px 1px white;

}



.big{
  list-style-type: none;
  text-align: center;
  margin-top: 50px;
  margin-left: 700px;

}

.small{

  list-style-type: none;
  text-align: center;
  display:none;
}


.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   

  }



.nav a:hover {

    color: black;
  }


.nav .icon {
    display: none;
  }

  @media screen and (max-width: 1380px){
    .big{
      display:none;
    }
    .small{
     display:block;

    }
    


  }
  @media screen and (max-width: 800px) {
    .nav a:not(:nth-child(2)) {
        display: none;}
    
    .nav a.icon {
      float: right;
      display: block;
    }
    
    
    
  }
  
  @media screen and (max-width: 800px) {
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }

#home{

    width: auto;
    height: auto;
    background-image: url("./images/back.jpg");
    background-position: 0%;
    background-size: cover;
    
  
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;

}


.row1{


  display: flex;
}

/* slide Show*/

.content{
 
  max-width:980px;
  
}

.section{
  margin-top:16px!important;
  margin-bottom:16px!important;
  

}
.fading{
  animation:fading 10s infinite;
  border-radius: 10px;

}

#event {

  display: inline-block;
  position: relative;
  background-color: rgb(242, 242, 242,0.2);
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  height: 300px;
 
}

#event  marquee{
  padding: 5px;
  position: relative;
}

/*typing*/

#type{

  margin:100px;
  color: white;
  width:400px;

  
  }



@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}




/* vimi*/
.vimi{


  display: flex;
}

.vi{

  background-color: #00FF70;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
  font-family: 'Playfair Display';
  color: #000000;
  border-style: solid;
  border-color: black;
}

.vi li {

  padding: 5px;
}

.mi{

  background-color: #00FF70;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
 
  color: #000000;
  font-family: 'Playfair Display';
  border-style: solid;
  border-color: black;
}

.mi li {

  padding: 5px;
}

kbd{

  color:white;
  background-color: #000000;
  padding: 6px;
  border-radius: 10px;
}

@media screen and (max-width: 1380px){
  .home{
     max-height: fit-content;

  }
  
  




}


@media screen and (max-width: 976px){
  .row1{

    display: block;
  }

  #type{

    margin:0;
  
    
    }

}
@media screen and (max-width: 1034px){

  .vimi{

    display: block;
    height: fit-content;
  }
.vi{
  background-color: #333;
  color: white;
  border-style: solid;
  border-color: #00FF70;

}

.mi{
  background-color: #333;
  color: white;
  border-style: solid;
  border-color: #00FF70;
  
}

kbd{

  color:black;
  background-color: #00FF70;
  padding: 6px;
  border-radius: 10px;
}

}



#about{

    width: auto;
    height: 100%;
    background-image: url("./images/about.jpeg");
    background-position: 0%;
    background-size: cover;
    
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    display:none;

}

#left nav{
  overflow: hidden;
  background-color: #00FF70;
  border-color: #000000;
  border-style:inset;
  border-radius: 10px;
  text-align: center;
  width: max-content;
  list-style-type: none;
  box-shadow: 5px 1px 5px 1px ;

}

#left hr{

 
 margin-left: 0;
 padding: 0;
 text-align: start;
  
}

#left nav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  margin: 14px 26px;
  text-decoration: none;
  font-size: 17px;
 

}

#left nav a p{
  
  width:100px;
  border-radius: 18px;
  margin-left: 5px;
 



}

#left nav  a p:hover{

  background-color: white;
  background-size: 300px 100px;
  width: 120px;
  border-radius: 5px;
  padding: 5px;
  color:black;
  


}


#left nav  .active{

  background-color: black;
  background-size: 300px 100px;
  width: 130px;
  border-radius: 5px;
  padding: 5px;
  color:white;
  
}
@media screen and (max-width: 1034px){

  #left nav{


    background-color:black;
  border-color:  #00FF70;
  
  }
  #left nav a {
   
    float: none;
    color:white
  
  }
  
#left nav  .active{
  color:black;
  background-color: white;
}



}

#right{
background-color: rgb(0, 0, 0,0.8);
color:white;
border-radius: 10px ;
padding: 5px;
margin: 15px;
border-style: outset;
border-color: #00FF70;

}
.item_info{

  color:white;
  background-color: rgb(0, 0, 0,0.8);
  padding: 6px;
  border-radius: 100px;
  width: auto;
  text-align: center;
  margin:5px;
 
}

@media screen and (max-width: 1034px){

  #left ul{
    display: block;
    height: auto;
    }
    
#left li{
  display:block;

  text-align: center;

  border-radius: 5px;
  border-color: #000000;
}

#left li p{
  

  
  
  text-align: left;



}
.item_info{

  color:black;
  background-color: rgb(0, 255, 112,0.7);
  padding: 6px;
  border-radius: 100px;
}

}

.item{

  line-height: 1.6;
}


#dept{

    width: auto;
    height: 100%;
    background-image: url("./images/dept.jpg");
    background-position: 0%;
    background-size: cover;
    
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    display:none;


}
#dept mark{

  padding:3px;
  margin: 15px;
  border-radius: 5px;


}
#infra{

    width: auto;
    height: 100%;
    background-image: url("./images/infra.jpg");
    background-position: 0%;
    background-size: cover;
    
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    display:none;


}



#place{
  width: auto;
  height: 100%;
  background-image: url("./images/place.jpg");
  background-position: 0%;
  background-size: cover;
  
  padding: 5px;
  margin-top: 3px;
  border-radius: 5px;
  display:none;

}



#contact{

    width: auto;
    height: auto;
    background-image: url("./images/contact.jpg");
    background-position: 0%;
    background-size: cover;
    
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    display:none;


}

iframe{
width: 500px;
height:350px;
}

.rowc{


  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  display: flex;
}
#contact img{
 display: flexbox;
 float: right;
 height: auto;
 margin-top: 200px;

}
.col2{

  background-color: rgb(0, 255, 112,0.8);
  padding: 90px;
  border-radius: 50px;
  font-size: large;
}

.col2 li{
  padding: 7px;
}

.col1{

  background-color: rgb(0, 0, 0,0.8);
  color: rgb(0, 255, 112);
  padding: 50px;
  border-radius: 50px;
  
}

@media screen and (max-width: 1166px){
  #contact{
    background-position: 0%;
    background-size: cover;

  }
  .rowc{
    display: block;
    margin: 2px;
  }
  iframe{
    width: auto;
    height:300px;
    }

    #contact img{
    
    display: none;
    }
}