<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    
    <link rel="stylesheet" href="../static/login.css" />
    
    </head>
    
    <body>
    
    <nav><a href="#" class="focus">Log In</a></nav>
    


    <form action="/" method="post">
        <h2>Admin Login</h2>
		<input type="text" name="username"  class="text-field" placeholder="Username" />
	
		<input type="password" name="password" class="text-field" placeholder="Password" />
		<input type="submit" class="button" value="Log In">
	</form>
    
    </body>